
/*Body Header*/

#body-header{
    height: auto;
    opacity: 1.2;
    /*background-image: url("https://firebasestorage.googleapis.com/v0/b/himanshuresume-4f83e.appspot.com/o/Resume%20Stat%20Pics%2FBG_Header123.png?alt=media&token=fad5fc82-6a06-4da5-83c0-e6866bda6b74");*/
    /*background-gradient: #0a0f30;*/
    background-image: linear-gradient(rgb(0, 0, 0), rgb(9, 151, 194));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    /*overflow: scroll;*/ 
}

/*Upper Navigation*/
nav #navi{
    margin: 8px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-between;
    flex-wrap: wrap;

}
#navi div a{
    color: #fffff0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 1.25 rem;
}

#navi div a:hover{
    color: white;
    text-decoration: underline;
    text-shadow: rgba(230,196,196,0.3);
}


/*Horizontal List for social links*/
.h-list{
    list-style-type: none;
    padding-left: 0px;

}

.h-list li{
    display: inline-block;
    margin: 8px;
    margin-left: 1em;

}
.h-list li a{
    color: #fffff0;
    text-decoration: none;
    font-size: 1.5rem;
    

}

.h-list li a:hover{
    color: white;
    text-decoration: underline;
    text-shadow: rgba(230,196,196,0.3);
}

#header-title{
    color: white;
    font-size: 2.0rem;
    font-weight: 400;
    margin-top: -1.5rem;   
    letter-spacing: 0.2rem;
    font-family: 'Times New Roman', Times, serif;   
}
#header-title :hover{
    color: rgb(119, 194, 255) ;
}
#subtitle{
    color: white;
    font-size: 1.4rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -2.5rem;
}


/* Social Icons*/


.social-icons li a img{
    padding: 0.5%;
    margin-bottom: 3.5em;
    border-radius: 100%;
    margin-left: 1rem;
}
.social-icons-contact  li a img{
    padding: 0.5%;
    border-radius: 100%;
    margin-left: 1rem;
    background: transparent;
}
.social-icons li a img:hover{
    
    box-shadow: 0px 0px 10px 5px white;
}
.social-icons-contact li a img:hover{
    
    box-shadow: 0px 0px 10px 5px #0A2335;
}
/*General Classes*/
.text-center{
    text-align: center;
}

.text-just{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

:visited{
    color: inherit;
}
section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 2em;
    
}
.section-heading{
    margin-top: 2em;
    margin-bottom: 2em;
}

/*CSS RULES */

section:nth-child(2n){
    /*EVEN NO OF SECTION*/
    background-color: #C9DBEA;

}
section:nth-child(2n+1){
    /*ODD NO OF SECTION*/
    background-color: white;
}

